[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-tavily = "*"
langchain-openai = "*"
langchain-core = "*"
langchain-classic = "*"
black = "*"
isort = "*"
certifi = "*"
google-genai = "*"
langchain-pinecone = "*"
langsmith = "*"
langchain-community = "*"
langchainhub = "*"
langchain-chroma = "*"
python-dotenv = "*"
sentence-transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
